@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #FAF0D0 0%, #FFE8C8 50%, #FDDCC8 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    width: 30%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    background: linear-gradient(180deg, #FBDAD5 0%, #FFF0EE 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-form-area {
    height: 80%;
    border-radius: 0px 0px 18px 18px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-icon {
    height: 60px;
    width: 51px;
    border-radius: 30px;
    background-color: #ff7158;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 90px;
}

#heading {
    color: #3d241c;
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    position: relative;
    bottom: 28px;
}

#sub-heading {
    color: #8C6B5E;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    position: relative;
    bottom: 16px;
}

#name-field, #email-field, #password-field {
    height: 45px;
    width: 400px;
    border: 1px solid #EDD9D3;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    /* position: relative; */
    /* top: 10px; */
}

#name, #email, #password {
    color: #4A2E24;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

#terms {
    position: relative;
    top: 15px;
}

#checkbox {
    border: 1px solid #D4B8B0;
    position: relative;
    top: 4px;
}

#terms-and-conditions {
    color: #8C6B5E;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.sign-up {
    position: relative;
    top: 50px;
}

#sign-up-button {
    color: #ffffff;
    height: 55px;
    width: 400px;
    background-color: #f05a41;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-in {
    color: #8C6B5E;
    font-size: 14px;
    font-weight: normal;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 30px;
}

#terms-text:hover, #privacy-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

#sign-in-text:hover {
    text-decoration: underline;
    cursor: pointer;
}